.wrap-close-item{
	display: flex;
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
	height: 108px;
	background-color: #fff;
	padding: 16px;
}
.close-item-info{
	width: 75%;
}
.close-item-profile-info{
	align-items: end;
	width: 25%;
}
.close-item-profile-info > *{
	float: right;
}
.profile {
	text-align: end;
	align-items: center;
	margin-right: 12px;
}
.close-item-info-header{
	display: flex;
	& > *:not(:last-child){
		margin-right: 13px;
	}
}
.count-likes{
	margin-left: 20px;
}

.close-item-info-title{
	color: #1890FF;
	font-size: 20px;
	& > * {
		text-decoration: none;
		color: #1890FF;
		font-size: 20px;
	}
}
.close-item-info-tags{
	display: flex;
}

.tags-item{
	border: 1px solid #0000008e;
	padding: 3px;
}
.close-item-info-text{ 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
}
.wrap-likes {
	width: 32px;
	height: 26px;
	display: block;
	position: relative;
  }
  input[type="checkbox"] {
	display: none;
  }
  input[type="checkbox"] + span {
	position: absolute;
	left: 0; top: 5px;
	width: 100%;
	height: 100%;
	background: url("../../img/heartBlack.png") no-repeat;
	cursor: pointer;
  }
  input[type="checkbox"]:checked + span {
	background: url("../../img/heartRed.png") no-repeat; 
  }