.app-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 22px;
	height: 80px;
	background-color: #fff;
}

.item-right div{
	display: flex;
}

.wrap-log-out > *{
	margin-left: 27px;
}

.wrap-log-in > *{
	margin-left: 19px;
}

.sing-in{
	border: none;
	background-color: rgba(0,0,0,0);
	&:hover{
		background-color: rgba(0,0,0,0.01);
	}
	& > *{
		text-decoration: none;
		color: #000000;
	}
}

.sing-up{
	border-radius: 5px;
	display: flex;
	align-items: center;
	border: 2px solid #52C41A;
	padding: 6px 18px 8px 18px;
	background-color: rgba(0,0,0,0);
	&:hover{
		background-color: rgba(0,0,0,0.01);
	}
	& > *{
		text-decoration: none;
		font-weight: 500;
	color: #52C41A;
	}
}

.nickname .profile-in{
	text-decoration: none;
	color: #000;
}

img{
	color: #000;
}

.item-left > * {
	text-decoration: none;
	color: #000;
}

.create-article{
	color: #52C41A;
	font-size: 14px;
}

.log-out{
	border-radius: 5px;
	display: flex;
	font-size: 18px;
	align-items: center;
	border: 2px solid #000;
	color: #000;
	padding: 6px 18px 8px 18px;
	background-color: rgba(0,0,0,0);
}