.app-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 22px;
	height: 80px;
	background-color: #fff;
}

.item-right div{
	display: flex;
}

.wrap-log-out > *{
	margin-left: 27px;
}

.wrap-log-in > *{
	margin-left: 19px;
}

.sing-in{
	border: none;
	background-color: rgba(0,0,0,0);
	&:hover{
		background-color: rgba(0,0,0,0.01);
	}
}

.sing-up{
	border-radius: 5px;
	font-weight: 500;
	color: rgb(47, 255, 47);
	display: flex;
	align-items: center;
	border: 2px solid rgb(47, 255, 47);
	padding: 6px 18px 8px 18px;
	background-color: rgba(0,0,0,0);
	&:hover{
		background-color: rgba(0,0,0,0.01);
	}
}